.main-container {
  display: flex;
  flex-direction: row;
}

.content {
  flex: 1;
  padding: 20px;
}

.sidebar {
  width: 30%;
  padding: 10px;
  border-left: 1px solid #ccc;
  background-color: #1e1e1e;
  color: white;
  min-height: 100vh;
  overflow-y: auto;
}
.app-toolbar {
  background-color: #c2185b; /* Deep Pink */
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.app-icon {
  margin-right: 12px;
  color: #ffffff;
}

.app-title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 1px;
}
