.expense-card {
  margin: 20px auto;
  max-width: 500px;
  background-color: #1e1e2f;
  color: #eeeeee;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-info {
  display: flex;
  flex-direction: column;
}

.expense-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: #f06292;
}

.expense-meta {
  font-size: 0.9rem;
  color: #b0bec5;
}

.expense-amount {
  font-weight: bold;
  font-size: 1.2rem;
  color: #26c6da;
}

.delete-button {
  background-color: #f44336;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 8px;
}

.delete-button:hover {
  background-color: #d32f2f;
}
.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 12px;
  max-width: 90%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.filter-field {
  flex: 1 1 220px;
  min-width: 180px;
}

.mat-form-field {
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 8px;
  padding: 4px 8px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-form-field-infix {
  color: #ddd;
}

.mat-select-value,
.mat-datepicker-toggle-default-icon {
  color: #ccc;
}

.mat-form-field-label {
  color: #888 !important;
}

::ng-deep .mat-select-arrow {
  color: #ccc;
}
.no-expense-msg {
  text-align: center;
  color: #aaa;
  font-size: 1.1rem;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  max-width: 500px;
  margin: 30px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
::ng-deep .mat-select-panel {
  max-height: 300px; /* ya jitna chaho */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Safari and Edge */
::ng-deep .mat-select-panel::-webkit-scrollbar {
  display: none;
}
::ng-deep .mat-select-panel {
  max-height: 300px;
  overflow-y: hidden !important;
}
